* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 800px;
    background-color: hsl(204, 43%, 93%);
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.card {
    width: 50%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -25%;
}

.container1 {
    width: 100%;
    height: 200px;
    background-color: hsl(0, 100%, 100%);
}

.container2 {
    width: 100%;
    display: flex;
}

.container21 {
    width: 50%;
    height: 200px;
    background-color: hsl(179, 62%, 43%);
}

.container22 {
    width: 50%;
    height: 200px;
    background-color: hsl(179, 62%, 60%);
}

.content1 h1 {
  font-size: 25px;
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.content1 h3 {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.content1 p {
    color: hsl(218, 22%, 67%);
}